.dados{
	float:left;
}


.botao {
	background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 50px;
	width: 100px;
	font: 15px arial,sans-serif;
	text-shadow: none;


}

.botao:hover{
	cursor:pointer;
	background:white;
	color:black;
	border-radius:10px;
}
